@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/lancamentos.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --cor-fundo: #ebecee;
  --cor-branco: #ffffff;
  --cor-laranja: #eb9b00;
  --cor-preto: #000000;
  --cor-azul: #002f52;
  --cor-azul-degrade: linear-gradient(98deg, #002f52 35.49%, #326589 165.37%);

  --fonte-padrao: "Poppins";
  --tamanho-padrao: 16px;
  --peso-padrao: 400;
  --fonte-titulo: "Josefin Sans";
}

body {
  font-family: var(--fonte-padrao);
  font-size: var(--tamanho-padrao);
  font-weight: var(--peso-padrao);
  color: var(--cor-branco);
  background-color: var(--cor-fundo);
}
