.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-branco);
  font-family: var(--fonte-padrao);
  font-size: var(--tamanho-padrao);
  font-weight: var(--peso-padrao);
  font-style: normal;
  position: relative;
}
.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  display: flex;
  align-items: center;
}
.container__imagem {
  padding: 1em;
}
.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__botao {
  display: none;
}
.container__botao:checked ~ .lista-menu {
  display: block;
}
.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--cor-branco);
}
.lista-menu__titulo {
  font-weight: 700;
  color: var(--cor-laranja);
}
.lista-menu__link {
  background: var(--cor-azul-degrade);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.menu {
  display: block;
}
.cabecalho__titulo {
  display: none;
}
.container-1024 {
  display: none;
}
.sacola__label {
  display: none;
}
.perfil__label {
  display: none;
}
@media screen and (min-width: 1024px) {
  .favorito {
    display: none;
  }
  .menu {
    display: none;
  }
  .container,
  .container-1024 {
    margin-left: 5%;
  }
  .container-1024 {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .container-1024__link {
    color: var(--cor-preto);
    text-decoration: none;
    margin: 1em;
  }
  .cabecalho__titulo {
    display: block;
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-weight: 400;
    color: var(--cor-preto);
  }
  .cabecalho__titulo--negrito {
    font-weight: 700;
  }
  .lista-menu__titulo {
    color: var(--cor-preto);
    text-transform: uppercase;
    font-family: var(--fonte-padrao);
    font-size: var(--tamanho-padrao);
    font-weight: var(--peso-padrao);
  }
  .lista-menu {
    width: auto;
  }
}

@media screen and (min-width: 1728px) {
  .container-1024 {
  }
  .container--1728 {
    display: flex;
    min-width: 25%;
  }
  .sacola__label,
  .perfil__label {
    display: block;
  }
  .sacola,
  .perfil {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: var(--cor-preto);
    font-size: 20px;
  }
}
