.topicos {
  background: var(--cor-azul-degrade);
  padding: 1em;
}
.topicos__titulo {
  color: var(--cor-branco);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 1em;
}
.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.topicos__item {
  margin: 2em 0.5em;
}
.topicos__link {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--cor-laranja);
  padding: 1em;
  color: var(--cor-branco);
}

@media screen and (min-width: 1024px) {
  .topicos__link {
    font-size: 24px;
  }
  .topicos__titulo {
    font-size: 24px;
  }
  .topicos__lista {
    margin: 5% 10%;
  }
}
